<div class="weather-container">
    <h1>{{name}}</h1>
    <p>{{weather.[0].description}}</p>
    <p>Температура: {{main.temp}}&deg;C</p>
    <p>Відчувається наче: {{main.feels_like}}&deg;C</p>
    <p>Вологість: {{main.humidity}}%</p>
    <p>Тиск: {{main.pressure}} hPa</p>
</div>